---
title: BSG - Tropical Hardwood Lumber
---

<div id="banner" class=" text-center">
      <div class="container-fluid">  
        <div class="row" id="white-banner">
          <div class="col-md-12">
            <h1>BSG - Tropical Hardwood Lumber </h1>
            <h4>Quality sawn timber for the world from French Guyana</h4>
            <p>BSG is the leading forest resource and wood products company in French Guyana. Our core business includes the sale of hardwood lumber and sawn timber and the manufacturing of decking and flooring products.</p>
          </div>
        </div>
        <div class="row">
          <div class="btn btn-default title-menu">
            <a class="" href="#presentation">
              
              <i class="fa fa-angle-double-down fa-3x"></i>
            </a>
          </div>
        </div>
      </div>   
</div> 


<div class="full-fenetre bck-white" id="presentation">   
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-md-12 col-xs-12 col-sm-12  text-center" id="title">          
        <h4>BSG - Tropical Hardwood Lumber from French Guyana </h4>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card-uncolor">
        <div class="text-center" id="title"><h4>Engagement</h4></div>
        <p><strong>Tropical Hardwood Lumber</strong> are our ressources and main value, since 2010 we are <strong>PEFC</strong> certified (the european equivalent for FSC)</p>
        <div class="text-center">
        <%= image_tag 'logo_PEFC.png' %>
        </div>
        
        </div>
         
      </div>

      <div class="col-md-6">
        <div class="card-uncolor">
          <div class="row">
            <div class="col-md-12 text-center">
                  <h4>Supplying high quality hardwood tropical lumber</h4>
                  <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x3gacky" allowfullscreen></iframe><br /></i>
            </div>           
          </div>                               
        </div>        
      </div>
      <div class="col-md-3">
        <div class="card-uncolor">
          <div class="text-center">
                  <%= image_tag 'logo-bsg.png' %>
                  <p></p>
                  <p>At the heart of the <strong>amazonian forest</strong>, in French Guyana (South America), we are your industrial partner for your importation of <strong>tropical hardwood lumber</strong> particularly in the Caribean Area, in Europe and Asia.</p>
                  
            </div>
          

        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-uncolor">  
      
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_foret.png' %>
       <p>1. With direct integration of the  <strong>wood sourcing</strong> we are able to harvest the harwood tropical species you need.</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_scierie.png' %>
       <p>2. Our <strong>sawn-timber quality</strong> is optimal due to our highly performant factory.</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_logistique.png' %>
       <p>3. <strong>Optimisation</strong> of the logistics flows to keep the value in our lumber</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_export.png' %>
       <p>4. 20 years of <strong>export</strong> experience in the whole world.</p>
      </div>
      </div>

       
     
  </div>
</div>

<div id="banner" class=" text-center">
      <div class="container-fluid" id="certification">  
        <div class="row" id="white-banner">
          <div class="col-md-12">
            <h2> Certifications </h2>
            <p><em>" Mastering and respecting our tropical wood ressources. "</em></p>
            <div class="col-md-4">
              <h4>PEFC</h4>
              <%= image_tag 'logo_pefc.png' %>

            </div>
            <div class="col-md-4">
              <h4>Low impact exploitation</h4>
              <%= image_tag 'logo_pefc.png' %>

            </div>
            <div class="col-md-4">
              <h4> CE </h4>
              <%= image_tag 'logo_pefc.png' %>

            </div>
            
            
            
            
           
            <h2> Nos partenaires </h2>
            <h4> ONF | FEDER | FSA - SDEG | Région Guyane</h4>
            
            
          </div>
        </div>
       
      </div>   
</div> 




<div class="full-fenetre bck-white" id="solution">   
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-md-12 col-xs-12 col-sm-12  text-center" id="title">          
        <h4>Find the tropical hardwood lumber you need</h4>  
      </div>
    </div>
    <div class="text-center">
    <h4>Your are looking for ?</h4>  
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
         <p><i class="fa fa-dot-circle-o"></i> A <strong>tropical wood</strong> that resists to <strong>Thermites</strong> and <strong>insects</strong> ?</p>    
         <p><i class="fa fa-dot-circle-o"></i> Lumber that can be used in <strong>moisturized / damp</strong> environment ?</p>
         <p><i class="fa fa-dot-circle-o"></i> Sawn-timber for boat / naval building ?</p>
         <p><i class="fa fa-dot-circle-o"></i> Tropical woods that can resist <strong>exterior agression</strong> along the time ?</p>
         <p><i class="fa fa-dot-circle-o"></i> Wood solutions for <strong>under water</strong> purpose ?</p>
         <p><i class="fa fa-dot-circle-o"></i> <strong>Natural and colorful</strong> tropical wood for a unique esthetic ?</p>
         <p><i class="fa fa-dot-circle-o"></i> Tropical lumber with unique mechanical <strong>resistance</strong> ?</p>
         <p><i class="fa fa-dot-circle-o"></i> High quality wood based <strong>flooring and decking</strong> ?</p>
         <p><i class="fa fa-dot-circle-o"></i> A wood with the <strong></strong>highest sustainability standards ?</p>
      </div> 
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L1.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L2.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L3.png' %></div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L4.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L5.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L6.png' %></div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L7.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L8.png' %></div>
          <div class="col-md-4 text-center card-logo"><%= image_tag 'L9.png' %></div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row text-center">
       <h4>We supply the best tropical hardwood from the amazonian forest to answer your applications.</h4>  
       </div>
  </div>
</div>


<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
