---
title: BSG - Ressource Bois
---



<div class="container-fluid">
    <div class="full-fenetre" >
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10 text-center" id="title">          
            <h4>Species : The best of tropical hardwood </h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="col-md-1"></div>
            
            <div class="col-md-2"><strong>Name</strong></div>
            <div class="col-md-2"><strong>Current Name</strong></div>
            <div class="col-md-1"><strong>Classe</strong></div>
            <div class="col-md-3"><strong>Use</strong></div>
            <div class="col-md-2"><strong>Aspect</strong></div>
            <div class="col-md-1"></div>
          </div>
        </div>
		    <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Angélique </div>
            <div class="col-md-2">Teck de Guyane </div>
            <div class="col-md-1">Classe 3</div>
            <div class="col-md-3">Recommandé pour les usages extérieurs (Caillebotis, mobiliers de jardin, charpente, pirogue...). </div>
            <div class="col-md-2"> <%= image_tag 'bois_angelique.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
			  </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Courbaril</div>
            <div class="col-md-2">Hymenaea</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Réservé à l'ébénisterie, au parquet et aux plans de travail</div>
            <div class="col-md-2"> <%= image_tag 'bois_coubaril.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Wacapou</div>
            <div class="col-md-2">Vouacapoua Americana</div>
            <div class="col-md-1">Classe 4</div>
            <div class="col-md-3">Réservé à l'ébénisterie et à l'agencement de luxe (plans de travail et de toilette, tables...).</div>
            <div class="col-md-2"> <%= image_tag 'bois_wacapou.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Goupi</div>
            <div class="col-md-2">Bois Caca</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et en menuiserie.</div>
            <div class="col-md-2"> <%= image_tag 'bois_goupi.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Gonfolo Gris</div>
            <div class="col-md-2">Medioquiera</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et l'emballage.</div>
            <div class="col-md-2"> <%= image_tag 'bois_gonfolo.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Gonfolo Rose</div>
            <div class="col-md-2">Medioquiera</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et l'emballage.</div>
            <div class="col-md-2"> <%= image_tag 'bois_gonfolo.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
         
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Balata</div>
            <div class="col-md-2">Balata Franc</div>
            <div class="col-md-1">Classe 4</div>
            <div class="col-md-3">Menuiserie extérieure, charpente, parquet, traverses</div>
            <div class="col-md-2">
              <div class="tab-space"> <%= image_tag 'bois_balata_franc.jpg' %> </div>
              </div> 
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Chawari</div>
            <div class="col-md-2">Piquirana</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Menuiserie et construction de pirogue</div>
            <div class="col-md-2"><%= image_tag 'bois_chawari.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Mahot Coton</div>
            <div class="col-md-2"> Bois Coton</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3"></div>
            <div class="col-md-2"><%= image_tag 'bois_maho.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Grignon franc</div>
            <div class="col-md-2">Louro Vermelho</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Construction de maison - bois, charpente légère.</div>
            <div class="col-md-2"><%= image_tag 'bois_grignon.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            <div class="col-md-2">Saint-Martin Jaune</div>
            <div class="col-md-2">Angelim da Mata</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Polyvalent, son aspect attrayant lui donne de bonne qualité esthétique.</div>
            <div class="col-md-2"><%= image_tag 'bois_saint-martin-jaune.jpg' %>  </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            <div class="col-md-2">Amarante</div>
            <div class="col-md-2">Bois violet</div>
            <div class="col-md-1">Classe 3</div>
            <div class="col-md-3">Violet à la lumière. Il convient pour tout usage, très employé sous la Régence par les ébénistes Boulle et Cressent</div>
            <div class="col-md-2"> <%= image_tag 'bois_amarante.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
    	</div>
    </div>
</div>
	

<div class="" id="banner3" >
	<div class="row" id="classification">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4> Classification </h4>
          </div>
          <div class="col-md-1"></div>
  </div>
	<div class="row">
			<div class="col-md-2"></div>
      <div class="col-md-8 text-center" id="white-banner2">
         <div class="row">
           <div class="col-md-2">
             <h4>Classe</h4>
           </div>
           <div class="col-md-6">
             <h4>Use</h4>
           </div>
           <div class="col-md-4">
             <h4>Species</h4>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>1</p>
           </div>
           <div class="col-md-6">
             <p>Inside, in a dry environment</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>2</p>
           </div>
           <div class="col-md-6">
             <p>Inside or under a roof, non exposed to rain.</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>3.1</p>
           </div>
           <div class="col-md-6">
             <p>Outside, up from the ground, resist to rain and damp.</p>
             <p>Short moisture exposition</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>3.2</p>
           </div>
           <div class="col-md-6">
             <p>Outside, up from the ground, resist to rain and damp.</p>
             <p>Long and continue humidity exposition</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>4</p>
           </div>
           <div class="col-md-6">
             <p>Outside in direct contact with water ( salted or not)</p>
             
           </div>
           <div class="col-md-4">
             <p>Angélique - Gonfolo</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>5</p>
           </div>
           <div class="col-md-6">
             <p>
              Under-water regularly or permanatly.</p>
             
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>




      </div>
      <div class="col-md-2"></div>									
		</div>
	</div>
</div>



	

