---
title: MBAO-BOIS - Construction Bois
---


<div class="full-fenetre">
  <div class="container-fluid"> 
    <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>Construction Bois</h4>
          </div>
          <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sd-12">
        <p> Maison Bois, Charpente, Immeuble collectif, Case : Mettons du bois au coeur de nos vies.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sd-12">
        <div class="card">
          <div class="text-center">
            <h4>Pourquoi construire en Bois au Sénégal ?</h4>
          </div>
            <p><em>Les cabanes construites à Rufisque, Saint-Louis, Dakar ... 
            ont 200 années d'existence et sont toujours là. 
            N'est-ce pas la preuve que le Bois est le matériau idéal pour nos conditions climatiques?</em>
            </p>
            <p>C'est prouvé :</p>
            <p><i class="fa fa-check-circle-o"></i> Face à l'environnement marin, le bois est un excellent 
            <strong>régulateur d'humidité</strong>, en d'autres termes, avec une maison bois, <strong>fini l'électroménager détruit après une année!</strong>
            </p>
            <p><i class="fa fa-check-circle-o"></i> Face à la chaleur, le bois est un <strong> régulateur thermique naturel</strong>
            </p>
            <p><i class="fa fa-check-circle-o"></i> Ecologique, son mode de construction ne nécessite pas   d'eau .
            </p>
        </div>
      </div>
      
      
      <div class="col-md-2 col-sd-12">
        <div class="card">
          <div class="text-center">
            <%= image_tag 'gamme.svg' %> 
            <h4>Vous avez un projet ?</h4>
          </div>
          <p><i class="fa fa-check-circle-o"></i>  Construire une maison </p>
          <p><i class="fa fa-check-circle-o"></i>  Batiment publique </p>
          <p><i class="fa fa-check-circle-o"></i>  Entrepot industriel</p>
          <p><i class="fa fa-check-circle-o"></i>  Case sénégalaise</p>

          <div class="text-center">
            <div class="btn ">
              <a class="typeform-share button" href="https://cyrillus.typeform.com/to/yrXtiP" data-mode="1" target="_blank">Je me renseigne</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

            </div>
          </div>
          
        </div>  
      </div>

      <div class="col-md-5 col-sd-12">
        <div class="card">
          <div class="text-center">
            <h4>Case sénégalaise : Un concept @ MBAO-BOIS</h4>
          </div>
            
            <p><i class="fa fa-question-circle"></i> Votre famille s'agrandit ?</p>
            <p><i class="fa fa-question-circle"></i> Besoin d'une pièce en plus ?</p>
            
          <p>Chez MBAO-BOIS nous sommes conscients de vos besoins, 
          c'est pourquoi nous avons développer une concept de Case 
          vous permettant de <strong>gagner un étage</strong>.</p>
          <div class="row">
            <div class="col-md-5">
              <h4>Les + :</h4>
              <p><i class="fa fa-check-circle-o"></i> Economique</p>
              <p><i class="fa fa-check-circle-o"></i> Rapidité de mise en place</p>
              <p><i class="fa fa-check-circle-o"></i> Installation Facile</p>
              <p><i class="fa fa-check-circle-o"></i> Confort thermique</p>
            </div>
            <div class="col-md-7">
              <%= image_tag 'case.svg' %> 
            </div>
          </div>
        </div>
      </div>     
    </div> 
  </div>
</div>


<div class="full-fenetre" id="gallery">
  <div class="container-fluid"> 
    <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>Les Réalisations MBAO-BOIS @ Senegal</h4>
          </div>
          <div class="col-md-1"></div>
    </div> 
     <div class="row">
      
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">

          

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'construction_1.png' %> 
      
    </div>
    <div class="item">
       <%= image_tag 'construction_2.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'construction_3.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'construction_4.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'construction_5.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'construction_6.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'construction_7.png' %> 
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
            
          </div>
          <div class="col-md-3"></div>
        </div>
    </div> 
  </div>
</div>



