---
title: BSG - BoisEtSciagesGuyannais.com
---

<div id="banner" class=" text-center">
      <div class="container-fluid">  
        <div class="row" id="white-banner">
          <div class="col-md-12">
            <h1>BSG - Bois et Sciages Guyanais </h1>
            <h3>Scierie de Cacao - La scierie industrielle de Guyane</h3>
          </div>
        </div>
        <div class="row">
          <div class="btn btn-default title-menu">
            <a class="" href="#presentation">
              
              <i class="fa fa-angle-double-down fa-3x"></i>
            </a>
          </div>
        </div>
      </div>   
</div> 


<div class="full-fenetre bck-white" id="presentation">   
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-md-12 col-xs-12 col-sm-12  text-center" id="title">          
        <h4>BSG - Bois et Sciages Guyanais </h4>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card-uncolor">
        
        <div class="text-center" id="title"><h4>Professionnel</h4></div>
        <div class="text-center">
        <div class="btn btn-warning">
        <a class="typeform-share button" href="https://cyrillus.typeform.com/to/sPreD3" data-mode="1" target="_blank">Demande d'ouverture de compte</a>
        </div>
        </div>
        <p>Faire une demande d'ouverture de compte et bénéficier de nombreux avantages</p>
        </div>
        <div class="text-center" id="title"><h4>Particulier</h4></div>
        <p>Commander en ligne et venez retirer votre commande à partir de J+1</p>
        </div>
         
      </div>

      <div class="col-md-6">
        <div class="card-uncolor">
          <div class="row">
            <div class="col-md-12 text-center">
                  <h4>Le Bois, Une passion durable</h4>
                  <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x3gacky" allowfullscreen></iframe><br /></i>
            </div>           
          </div>                               
        </div>        
      </div>
      <div class="col-md-3">
        <div class="card-uncolor">
          <div class="text-center">
                  <%= image_tag 'logo-bsg.png' %>
                  <p></p>
                  <p>Au coeur du massif forestier de la<strong> Guyane Française</strong> nous sommes votre <strong>partenaire industrielle</strong> pour vos approvisionnements en bois tropicaux en Guyane, dans les Caraibes et en Europe.</p>
            </div>
          

        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-uncolor">  
      
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_foret.png' %>
       <p>1. Un sourcing <strong>selectif</strong> pour une matière première de qualité.</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_scierie.png' %>
       <p>2. Une <strong>qualité de sciage</strong> optimale grâce à un outil performant.</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_logistique.png' %>
       <p>3. <strong>Optimisation</strong> des flux en amont et en aval lors des livraisons.</p>
      </div>
      <div class="col-md-3 text-center"> 
       <%= image_tag 'logo_export.png' %>
       <p>4. Une expérience de l'<strong>export</strong> dans le monde entier.</p>
      </div>
      </div>

       
     
  </div>
</div>

<div id="banner" class=" text-center">
      <div class="container-fluid" id="certification">  
        <div class="row" id="white-banner">
          <div class="col-md-12">
            <h2> Certifications </h2>
            <p><em>" Une ressource maitrisée et respectée. "</em></p>
            <div class="col-md-4">
              <h4>PEFC</h4>
              <%= image_tag 'logo_pefc.png' %>

            </div>
            <div class="col-md-4">
              <h4>Exploitation faible Impact </h4>
              <a href="http://www.itto.int/fr/feature15/"><i class="fa fa-certificate"></i></a>
              

            </div>
            <div class="col-md-4">
              <h4> CE </h4>
              <%= image_tag 'logo_pefc.png' %>

            </div>
            
            
            
            
           
            <h2> Nos partenaires </h2>
            <h4> ONF | FEDER | FSA - SDEG | Région Guyane</h4>
            
            
          </div>
        </div>
       
      </div>   
</div> 


<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
