---
title: MBAO-BOIS - Palette et Caisse
---



<div class="container-fluid">
    <div class="full-fenetre" >
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10 text-center" id="title">          
            <h4>Palette : La palette sénégalaise.com </h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>
		<div class="row">
			<div class="col-md-12">
			<p>Sécuriser votre approvisionnement en palettes avec un partenaire local
    		et une palette MADE IN SENEGAL : <strong>La palette sénégalaise</strong></p>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">
    			<div class="card">
    				<h4>Vous recherchez :</h4>
    				<div class="row">
    					<div class="col-md-8">
    						<p><i class="fa fa-check-circle-o"></i> Une solution pour vos exportations. </p>
    					</div>
    					<div class="col-md-4 text-center">
    						<%= image_tag("palette_exportation.svg", size: "16x100", alt: "Logo exportation palette") %> 
                        </div>
    				</div>
                    <div class="row">
                    	<p></p>
                    	<p></p>
                    </div>
    				<div class="row">
    					<div class="col-md-8">
    						<p><i class="fa fa-check-circle-o"></i> Une solution de stockage pour le Sénégal et sous-régions. </p>
    					</div>
    					<div class="col-md-4 text-center"><%= image_tag 'palette_elevateur.svg' %></div>
    				</div>
    				<div class="row">
                    	<p></p>
                    	<p></p>
                    </div>
    				<div class="row">
    					<div class="col-md-8">
    						<p><i class="fa fa-check-circle-o"></i> Des solutions pour vos transports. </p>
    					</div>
    					<div class="col-md-4 text-center"><%= image_tag 'palette_camion.svg' %></div>
    				</div>
    				<div class="row">
    					<div class="col-md-12 text-center">
    						<div>
    							<p></p>
    						</div>
    				    <%= image_tag("palette_tampon.png", alt: "Logo exportation palette") %> 
    					</div>
    				</div>
    			</div>
    		</div>

    		<div class="col-md-8">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="card">
    						<div class="text-center">
    						    <h4>L'engagement  LaPaletteSénégalaise :</h4>
    						</div>
    						<p>Une fabrication de palettes <strong>Made In Senegal</strong> nous permet de vous assurer un service de qualité, ainsi qu'une livraison rapide & fiable. Avec <strong>La palette sénégalaise</strong> vous assurez votre sourcing en palette toute l'année avec un partenaire local : MBAO BOIS.</p>

    						<div class="row">
    						<div class="col-md-6">
    								<h4>Les 4  atouts La Palette Sénégalaise :</h4>
 									<p><i class="fa fa-check-circle-o"></i> Des solutions sur mesure en fonction de vos besoins et des recommandations de notre bureau d'étude</p>
 									<p><i class="fa fa-check-circle-o"></i> La possibilité de traitement NIMP 15 certifié</p>
 									<p><i class="fa fa-check-circle-o"></i> Un système de clouage adapté à la qualité recherchée pour obtenir le meilleur rapport qualité prix</p>
 									<p><i class="fa fa-check-circle-o"></i> Une méthode de calcul dans un souci économique et sécuritaire</p>
    						</div>
    						<div class="col-md-6">
    					    <%= image_tag("palette_camion.png", alt: "Camion avec Palette pour transport") %> 

    							
    						</div>
    						</div>	
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>

<div class="full-fenetre" id="caisse" >
	<div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Caisse et Pallocks</h4>
          </div>
          <div class="col-md-1"></div>
        </div>
		<div class="row">
			<div class="col-md-12">
				
				<p>Pour votre stockage, vos exportations, vos transports : utilisez un emballage adapté et economique.</p>		
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-md-4">
	    		<div class="card text-center">
	    			<h4>Caisse Modulable</h4>
	    			<%= image_tag 'caisse_caisse1.png' %>
	    		</div>
	    	</div>
	    	<div class="col-md-8">
	    		<div class="card">
	    			<div class="col-md-12">
	    			<h4><strong>Caisse</strong> et <strong>Pallocks</strong> Bois adaptés à tous vos besoins :</h4>
	    			</div>
	    			<div class="col-md-6">
	    				<h4>Sur-mesure</h4>
	    				<p>Transport de matériel</p>
	    				<p>Déménagement</p>
	    				<p>Transport d'élément fragile</p>
	    				<p>Logistique particulière</p>
	    			</div>
	    			<div class="col-md-6">
	    				<%= image_tag 'caisse_caisse2.png' %>
	    			</div>
	    			
	    			<div class="col-md-6">
	    				<h4>Grande Série</h4>
	    				<p>Export</p>
	    				<p>Transport</p>
	    				<p>Logistique</p>
	    				<p>Stockage</p>
	    			</div>
	    			<div class="col-md-6">
	    				<h4>Ils nous font confiance :</h4>
	    				<p> "Avec les solutions logistiques de MBAO-BOIS, je n'accumule plus de stocks de palettes et caisse chez moi, MBAO-BOIS me livre en temps et en heure, des palettes qui répondent à mes problématiques, je peux me concentrer sur mon activité !" </p>
	    				
	    			</div>
	    		</div>
	    	</div>
			
		</div>
	</div>
</div>


<div class="full-fenetre" id="produit" >
    <div class="container-fluid">
	<div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Nos produits : Caisse et Pallocks</h4>
          </div>
          <div class="col-md-1"></div>
        </div>
	     <div class="row">

           
      
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">

          

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'palette_1.png' %> 
      
    </div>
    <div class="item">
       <%= image_tag 'palette_2.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'palette_3.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'palette_4.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'palette_5.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'palette_6.png' %> 
    </div>
    <div class="item">
       <%= image_tag 'palette_7.png' %> 
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
            
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
	
	</div>
</div>
</div>


