---
title: BSG - Ressource BOIS | Angélique (Basralocus)
title_seo: BSG - Ressource BOIS | Angélique (Basralocus)
description: La scierie de Cacao exploite les essences les plus nobles de la forêt amazonienne et possède une expertise reconnue concernant l'Angélique (Basralocus).
hero_image: logo-bsg.png
---

<div class="full-fenetre" >
  <div class="row">
          <div class="col-md-1" id=""></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4> Angélique (Basralocus)</h4>
          </div>
          <div class="col-md-1"></div>
  </div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <p>BSG - est le premier producteur d'<strong>Angélique</strong> (<strong>Basralocus</strong>) sous forme de sciage en Guyane Française.</p>         
      </div>
      <div class="col-md-2"></div>                  
    </div>
    <div class="row">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-5 card">
        <h4>Carte d'indentité de l'<strong>Angélique</strong> (Basralocus)</h4>
        <p>Dénomination : Angélique | Basralocus | Dicorynia guianensis | 
        Angelica do para | Tapaiuna</p>
        <p>Diamètre de l'Angélique (Basralocus) : de 50 à 90 cm</p>
        <p>Hateur de l'Angélique (Basralocus) : 45 m.</p>
        <p>Couleur de l'Angélique (Basralocus) : Rouge.</p>
        <p>Aubier : 2cm (bien distinct)</p>
        
        <p>Termite : Résistance naturelle</p>
        <p>Séchage :
        Le séchage de l'Angélique s'effectue sans difficulté aussi bien
        à l'air libre qu'en séchoir artificiel. </p>
       <p>Application :
        <ul>
          <li>Menuiseries intérieures et extérieures</li>
          <li>Decking</li>
          <li>Parquet </li>
          <li>Charpente</li>
          <li>Pont</li>
          
          <li>Ponton</li>
          <li>Caillebotis</li>
          <li>Meuble | Mobilier de Jardin</li>

        </ul>
      </p>

        
      </div>  

      <div class="col-md-5 card">
        <h4>Utilisation de l'<strong>Angélique</strong> (Basralocus)</h4>
        <p><strong>Résistance</strong> : Les essais effectués au CT Forestier Tropical
ont montré que les propriétés physiques et mécaniques de
l'Angélique restaient assez homogènes tant à l'intérieur d'un
même arbre qu'entre différents arbres.
L'Angélique se classe dans la catégorie supérieure des bois
mi-lourds et mi-durs. En cohésion transversale, l'Angélique
est moyen, en cohésion axiale les résistances à la rupture sont
bonnes à très bonnes. </p>
        <p><strong>Durabilité</strong>: La réputation de durabilité de l'Angélique s'applique principalement
à son comportement en milieu marin où il résiste
très bien à l'attaque des tarets. Cette résistance est directement liée au taux de silice souvent important contenue dans
le bois.
L'Angélique n'est pas attaquable par les Lyctus et résiste
bien aux attaques des termites. En revanche, sa résistance à
l'égard de la pourriture est non seulement variable du cœur à
l'aubier, mais s'avère également différente selon la nature
Compte tenu de ce caractère et des difficultés d'imprégnation de ce bois, l'emploi de l'Angélique, en
contact avec le sol ou dans des endroits humides, n'est donc
pas conseillé. </p>


        <p><strong>Synthèse:</strong>
En raison de ses bonnes caractéristiques physiques et mécaniques,
de son bel aspect décoratif et de la bonne qualité des
grumes, l'Angélique convient à un très grand nombre d'emplois.


        
      </div>     

    </div>
    <div class="text-center">
  <p>Source : CIRAD</p> 
  </div>
  
  </div>
</div>







<div class="container-fluid bck-white">
    <div class="full-fenetre bck-white" >
        <div class="row">
          <div class="col-md-1" id="essence">
          </div>
          <div class="col-md-10 text-center" id="title">          
            <h4>Essence : Le meilleur des bois tropicaux </h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="col-md-1"></div>
            
            <div class="col-md-2"><strong>Nom</strong></div>
            <div class="col-md-2"><strong>Nom courant</strong></div>
            <div class="col-md-1"><strong>Classe</strong></div>
            <div class="col-md-3"><strong>Usage</strong></div>
            <div class="col-md-2"><strong>Aspect</strong></div>
            <div class="col-md-1"></div>
          </div>
        </div>
		    <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Angélique </div>
            <div class="col-md-2">Teck de Guyane | Singapetou | Angelico do Para | Basralocus </div>
            <div class="col-md-1">Classe 3</div>
            <div class="col-md-3">Extérieur. L'Angélique (Basralocus) est très résistants à l'humidité. Résiste aux Termites sans traitement. </div>
            <div class="col-md-2"> <%= image_tag 'bois_angelique.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
			  </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Courbaril</div>
            <div class="col-md-2">Hymenaea | Loka | Caca Chien | Jabota</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Réservé à l'ébénisterie, au parquet et aux plans de travail</div>
            <div class="col-md-2"> <%= image_tag 'bois_coubaril.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Wacapou</div>
            <div class="col-md-2">Vouacapoua Americana | Bounaati | Bruinhart</div>
            <div class="col-md-1">Classe 4</div>
            <div class="col-md-3">Réservé à l'ébénisterie et à l'agencement de luxe (plans de travail et de toilette, tables...).</div>
            <div class="col-md-2"> <%= image_tag 'bois_wacapou.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Goupi</div>
            <div class="col-md-2">Bois Caca | Kopi | Cupiuba</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et en menuiserie.</div>
            <div class="col-md-2"> <%= image_tag 'bois_goupi.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Gonfolo Gris</div>
            <div class="col-md-2">Medioquiera | Mandioqueira preta | Egron gronfoeloe</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et l'emballage.</div>
            <div class="col-md-2"> <%= image_tag 'bois_gonfolo.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Gonfolo Rose</div>
            <div class="col-md-2">Medioquiera rosa | Bergi gronfoeloe</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Utilisé en construction et l'emballage.</div>
            <div class="col-md-2"> <%= image_tag 'bois_gonfolo.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
         
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Balata</div>
            <div class="col-md-2">Balata Franc | Bakuman | Balata Rosada | Wit Riembout</div>
            <div class="col-md-1">Classe 4</div>
            <div class="col-md-3">Menuiserie extérieure, charpente, parquet, traverses</div>
            <div class="col-md-2">
              <div class="tab-space"> <%= image_tag 'bois_balata_franc.jpg' %> </div>
              </div> 
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">Chawari</div>
            <div class="col-md-2">Piquiarana | Kasanyan | Agougagui</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Menuiserie et construction de pirogue</div>
            <div class="col-md-2"><%= image_tag 'bois_chawari.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Mahot Coton</div>
            <div class="col-md-2">Bois Coton | Katon oudou | Yankomini </div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3"></div>
            <div class="col-md-2"><%= image_tag 'bois_maho.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
           
            <div class="col-md-2">Grignon franc</div>
            <div class="col-md-2">Louro Vermelho | Wana</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Construction de maison - bois, charpente légère.</div>
            <div class="col-md-2"><%= image_tag 'bois_grignon.jpg' %> </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            <div class="col-md-2">Saint-Martin Jaune</div>
            <div class="col-md-2">Angelim da Mata | Guéli tiabici</div>
            <div class="col-md-1">Classe ? </div>
            <div class="col-md-3">Polyvalent, son aspect attrayant lui donne de bonne qualité esthétique.</div>
            <div class="col-md-2"><%= image_tag 'bois_saint-martin-jaune.jpg' %>  </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center tab-space">
            <div class="col-md-1"></div>
            <div class="col-md-2">Amarante</div>
            <div class="col-md-2">Bois violet | Dachitan | Papaati | PurpleHeart</div>
            <div class="col-md-1">Classe 3</div>
            <div class="col-md-3">Violet à la lumière. Il convient pour tout usage, très employé sous la Régence par les ébénistes Boulle et Cressent</div>
            <div class="col-md-2"> <%= image_tag 'bois_amarante.jpg' %></div>
            <div class="col-md-1"></div>
          </div>
        </div>
    	</div>
    </div>
</div>
	

<div class="" id="banner3" >
	<div class="row">
          <div class="col-md-1" id="classification"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4> Classification </h4>
          </div>
          <div class="col-md-1"></div>
  </div>
	<div class="row">
			<div class="col-md-2"></div>
      <div class="col-md-8 text-center" id="white-banner2">
         <div class="row">
           <div class="col-md-2">
             <h4>Classe</h4>
           </div>
           <div class="col-md-6">
             <h4>Utilisation</h4>
           </div>
           <div class="col-md-4">
             <h4>Essence</h4>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>1</p>
           </div>
           <div class="col-md-6">
             <p>À l'intérieur, au sec</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>2</p>
           </div>
           <div class="col-md-6">
             <p>À l'intérieur, ou sous abri, non exposé aux intempéries. Possibilité de condensation d'eau</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>3.1</p>
           </div>
           <div class="col-md-6">
             <p>À l'extérieur, au dessus du sol, exposé aux intempéries</p>
             <p>Conditions d'humidification courtes</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>3.2</p>
           </div>
           <div class="col-md-6">
             <p>À l'extérieur, au dessus du sol, exposé aux intempéries</p>
             <p>Conditions d'humidification prolongées</p>
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>4</p>
           </div>
           <div class="col-md-6">
             <p>À l'extérieur en contact avec le sol et/ou l'eau douce</p>
             
           </div>
           <div class="col-md-4">
             <p>Angélique - Gonfolo</p>
           </div>
         </div>

         <div class="row">
           <div class="col-md-2">
             <p>5</p>
           </div>
           <div class="col-md-6">
             <p>Immergé dans l'eau salée de manière régulière ou permanente</p>
             
           </div>
           <div class="col-md-4">
             <p>Essence</p>
           </div>
         </div>




      </div>
      <div class="col-md-2"></div>									
		</div>
	</div>
</div>



	

