---
title: Services @ MBAO-BOIS
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
       	  <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Les Services @ MBAO-BOIS</h4>
          </div>
          <div class="col-md-1"></div>
        </div>
		<div class="row">
			<div class="col-md-12 col-sd-12">
				
				<p> Une gamme de service pour garantir une solution adaptée et vous faire gagner du temps </p>
			</div>
		</div>
        <div class="row">
	        <div class="col-md-3 col-sd-12">
	        	<div class="card">
	           		<div class="text-center">
	           			<%= image_tag 'camion.svg' %>
	    	   			<h4>Livraison</h4>
	    	   		</div>
	           		<p>Nous gérons tout de la production à la livraison</p>
	           		<p>Livraison en temps et en heure</p>
	           		<p>Livraison express pour vos chantiers</p>
	           		<p>Livraison régulière pour vos approvisionnements</p>
	           	</div>
	        </div>
	        <div class="col-md-3 col-sd-12">
	        	<div class="card">
	           		<div class="text-center">
	           			<%= image_tag 'thermo.svg' %>
	           			<h4>Traitement</h4>
	       	   		</div>
	           		<p>Norme NIMP15 : Marquage certifié</p>
	           		<p>Anti-thermite : Autoclavage </p>
	           		<p>Traitement du bois par bain : Classe 2 et Classe 3 </p>
	           		<p>Traitement Haute Température des emballages neuf et occasion (palette & caisse)</p>
        		</div>
        	</div>
        	<div class="col-md-3 col-sd-12 ">
        		<div class="card">
        			<div class="text-center">
        				<%= image_tag 'ecran.svg' %>
	           			<h4>Bureau d'étude</h4>
	           		</div>
		           <p>Conception de solution de stockage et de transport</p>
		           <p>Conception de charpentes</p>
		           <p>Conception de modèles sur-mesure de Case Sénégalaise</p>
		           <p>Certification de palettes</p>
		        </div>
        	</div>
        	<div class="col-md-3 col-sd-12 ">
        		<div class="card">
        	   		<div class="text-center">	
        	   			<%= image_tag 'montage.svg' %>	
	           			<h4>Pose de charpente</h4>
	       	   		</div>
	           		<p>Solution de montage de charpente par nos équipes</p>
	           		<div class="text-center">
	           		<%= image_tag 'plan.jpg' %>
	           		</div>
        		</div>
        	</div>
      	</div>
    </div >
</div>

